# macOS
.DS_Store
# Eclipse
.project
.classpath
.settings
# Idea
.idea
*.iml
# Maven
target/
# Ansible
ansible/*.retry
dependency-reduced-pom.xml
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
gradle/wrapper/gradle-wrapper.properties

out